{% extends "index.html" %}

{% block head %}<title>Message Send</title>{% endblock %}

{% block content %}

<div class="contact_send">

    <div class="send_message">
        <p>Message Send<br><br>Thanks You!</p>
    </div>
    <div class="send_message_image">
        <img src="{{ url_for('static', filename='send.gif')}}" alt="send" class="send">
    </div>
    <script>
        window.setTimeout(function () {

            // Move to homepage
            window.location.href = "/";

        }, 3000);

    </script>
</div>
{% endblock %}